 body {
font-family: "krub" ,
sans-serif;
font-weight: 100;
font-style: normal;
background-color: mistyrose;
}
.ga {
    color: hotpink;
}
.ga1 {
    color: hotpink;
}
.gaem
    {
     text-align: center;
    width: 100%;
    color: deeppink;
    }
.chuda
              {
                            color: hotpink;
              }
.ga2 {
    color: rgb(37, 52, 255);
}

.ga4 {
    style="background-color: rgb(255, 33, 189);font-size;text-align: center;">
         <h1 font-size;text-align: center;
}

